*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Poppins,sans-serif;

background:#0f172a;

color:white;

}

.navbar{

height:70px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

background:#111827;

box-shadow:0 2px 10px rgba(0,0,0,.4);

}

.logo{

font-size:28px;

font-weight:700;

color:#38bdf8;

}

.language{

font-size:18px;

color:#ddd;

}

.container{

width:95%;

margin:30px auto;

display:grid;

grid-template-columns:2fr 1fr;

gap:25px;

}

.editor,
.input-box,
.output-box{

background:#1e293b;

padding:20px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

h2{

margin-bottom:15px;

font-size:20px;

}

textarea{

width:100%;

background:#0f172a;

border:1px solid #334155;

border-radius:10px;

padding:15px;

font-size:15px;

font-family:Consolas;

color:white;

outline:none;

resize:none;

}

#code{

height:620px;

}

#input{

height:130px;

}

.button-group{

display:flex;

gap:12px;

margin:20px 0;

}

.button-group button{

flex:1;

padding:14px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

font-weight:600;

background:linear-gradient(90deg,#3b82f6,#06b6d4);

color:white;

transition:.3s;

}

.button-group button:hover{

transform:translateY(-2px);

box-shadow:0 8px 15px rgba(59,130,246,.3);

}

pre{

background:#0f172a;

padding:15px;

border-radius:10px;

min-height:250px;

overflow:auto;

color:#22c55e;

font-family:Consolas;

}

@media(max-width:900px){

.container{

grid-template-columns:1fr;

}

#code{

height:350px;

}

.button-group{

flex-direction:column;

}

}